/* 



/* ul{
    line-height: 40px;
    font-size: x-large;
    color: darkblue;
} */

img {
    height: 300px;
    width: 200px;
    float: none;
    align-content: center;
    justify-content: center;
    margin-left: 200px;
}

body {
    background-color:lightgrey;
    text-align: left;
    display: flex;
    flex-direction: column;
    
}

h3 {
    color: brown;
    font-style: italic;
    font-size: xx-large;
}

.About-me {
    float: right;
    width: 40%;
}

.About-me p {
    font-size: 20px;
    color: white;
    font-weight: 500;
    padding-right:20%;
}
.About-me h2{
    color: brown;
    font-size: x-large;
    font-style: italic;
}
p{
    font-size: 20;
}h2{
    color:brown;
    font-style: italic;
    text-align: center;
    font-size: xx-large;
}
ol{
    line-height: 40px;
    font-size: x-large;
    color: black;
} 
.introduction{
    background-color: black;
    margin-bottom: 0%;
}
.hobbies{
    margin-left: 20%;
    margin-right: 20%;
    background-color:grey;
    margin-top: 0%;
    padding: 5%;

}h1{
    color:brown;
    text-align: center;
}
