h1{
    color:blue;
    text-align: center;
}
h2{
    color:brown;
    font-style: italic;
    text-align: center;
    font-size: xx-large;
}


p{
    color: chartreuse;
    font-size: larger;
    font-style: obliques;
    background-color: orchid;

    
}
ol{
    line-height: 40px;
    font-size: x-large;
    color: darkblue;
}    
img{
    height: 40%;
    width: 35%;
    
}
body{
    background-color: hotpink;
    text-align: left;
    
}