h1{
    color:blue;
    text-align: center;
}
h2{
    color: green;
    font-style: italic;
    text-align: center;
}


p{
    color: chartreuse;
    font-size: larger;
    font-style: obliques;
}
ol{
    line-height: 40px;
}    
img{
    height: 40%;
    width: 35%;
    
}
body{
    background-color: hotpink;
    text-align: left;
}